<html>
    <head/>
    <body>
        <table celpadding=10 cellspacing=10 border=1>
            <tr>
                <td align="center">                                        
                    <br/>
                    <a href="https://drive.google.com/file/d/1-js3vyoXa3Y7Fza8lx4Or1ZWijHTl2CD/view?usp=sharing&resourcekey=0-iU4F7lJ0L9imN2HtV0cDxQ">Video</a>                    
                    <br/>
                    <a href="/data_science">
                        Data Science                    
                        <br/>
                        <img width=244 height=133 src="https://lh3.googleusercontent.com/t1u2HDVqUMQU2NmizReFVAslFfJQ3ofg9VHKAOWypsb2J8qmchcXxrH2NOM8-4h-p9lmBz8m9WgFgx91a1NyCPjL8axCVFT1VBQ-Dn8c9rFmqOm-4zp-C4Ietng3_ff52OFJQugMdxMFj2kd2mfIpMHikxGyjLBqZa3tApoaoXzdqN5fGqAjbcWm9Z1sAolX=w1280" />                                                
                    </a>
                    <br/>
                    <br/>
                    <textarea id="output" name="output" rows="4" cols="30" >INSTALLATION OUTPUT...</textarea>
                </td>
                <td align="center">      
                    <br/>
                    <br/>
                    <a href="/alphafold">
                        Alphafold
                        <br/>
                        <img width=244 height=133 src="https://lh5.googleusercontent.com/bU2FN5vkoZPoOPy88dPmTXUx-0hM2FeRzAGuV9hHf0rIOB3aPol8HwCPH5kz5lr3F1VLq9aXpstEALabsOHLlrXMXB2iKUN_1TPFy3klQMCVIVm9sFXmKvt61N5ufyTGgNbnAbpMOrSbQtHhyuq56_Hbz9xcykSE05ny3oiiXIj2CRWs9mLEctCRJ9q0hpT6=w1280" />
                    </a>
                    <br/>
                    <br/>
                    <textarea id="output" name="output" rows="4" cols="30" >INSTALLATION OUTPUT...</textarea>
                </td>
            </tr>
        </table>
    </body>
</html>