<!doctype html>
<html>    
    <head>
        {{ turbo() }}
    </head>        
    <style>
        .wrapper {
            padding: 20px;
            margin: 15px 0;
            background-color: #0f9d58;
        }
        table {
            font-size: 20px;
            width: 100%;
        }
 
        textarea {
            font-size: 20px;
            width: 100%;
        } 
    </style>
    <body>
        <table celpadding=10 cellspacing=10 border=1 width='100%'>
            <tr>
                <td align="center">                                                            
                    <a href="/data_science">
                        Data Science                    
                        <br/>
                        <a href="https://drive.google.com/file/d/1-js3vyoXa3Y7Fza8lx4Or1ZWijHTl2CD/view?usp=sharing&resourcekey=0-iU4F7lJ0L9imN2HtV0cDxQ">Video</a>                    
                        <br/>
                        <img width=244 height=133 src="https://lh6.googleusercontent.com/HWoW_yaVjYTo_F7K9I5IhXIakMzzHBTo1mnfBTNnuhoSbJluaO1YKZtIM00TkH8AiOswkrLyeKDrPrHTQuIb5-tjnahvIl8_PODAsNA-A25agoLXj1srnJWZ4AcpdzQnxTr7AcrSt7DCD4VSMpTXnzfQSrbiDTiu7PlBf9z6oFF8xXTVprCOfeIgxl51juH9=w1280" />                                                
                    </a> 
                </td>
                <td align="center">                          
                    <a href="/alphafold">
                        Alphafold
                        <br/>
                        <img width=244 height=133 src="https://lh3.googleusercontent.com/DQUvf9FugBNfu6cXN1GL6BRaldHXhzWbAaT9n8Pxmpt-td3btef4fF82GndIJr8UW9lECHDYq40U6TaNar84_hS4DiJGbFcQYqjTsXfujIHAJbheawjJmxG6AXis6rCzTTyiWRLo-gbudZHkR2bvPPBbBJ6OvZpeuqPj5rR-3AV5f4BtwqPRhOm_xZakv2Yr=w1280" />
                    </a>                                        
                </td>
            </tr>
            <tr><td colspan=2 width="100%" valign="top">
                    {% include "messages.html" %}
                </td>
            </tr>
        </table>
    </body>
</html>